---
const { experience } = Astro.props;
---

<div class="flex flex-col gap-2">
    <h3 class="text-lg font-semibold text-black/80">{experience.position} <span class="font-normal">at</span> <span class="font-bold">{experience.company}</span></h3>
    <p class="text-sm text-black/80">{experience.startDate} - {experience.endDate}</p>
    <p class="text-sm text-black/80">{experience.description}</p>
</div>
